{% extends 'basic.html' %}

{% block title %} Tech Spark {% endblock %}
{% block home %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
{% load static %}
 <!-- <div class="container-fluid">
    <img src="{% static 'Main.jpg' %}" alt="" width="100%" height="500px">
</div>  -->

<!-- <div class="" style="background-color: rgba(0,0,0,0.2); width: 100%;" style="margin-bottom: 500px;">
    <div class="row">
        <div class="col-md-4">
            <h3 style="color: aliceblue;">Contact Us</h3>
            <p style="color: aliceblue">
                Email:&nbsp;&nbsp;TechSpark@gmail.com</p>
            <p style="color: aliceblue">Mobile No.:&nbsp;&nbsp;9745632121</p>
        </div>
    </div>
</div> -->

{% endblock %}